
h2{ 
	text-align: center 
}
body{
	background-image: url(viagem-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
}
body{
	margin: 0;
	padding: 0;
}
div {
    font-size: 16px;
    max-width: 100%;
    background: #FFF;
    margin: 0 auto;
    padding: 0 10px 15px 12px;    
}
nav{
	padding: 0 10px 40px 35px;  
	background-color: black;
	width: 100%;
	margin: 0 auto;
}
.menu ul li{
	background-color: black;
	background-size: cover;
	background-position: center;
	float: left;
	width: 20%;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	position: relative;
}


.menu ul{
	text-align:center;
}

.menu a{
	color: white;
	text-decoration: none;
}

.mostrar{
	visibility: visible !important;
}